<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Meu site Flask</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>

<body class="container">

<h1 class="text-center" >Gestão de Clientes</h1>
<!--Formulário de Cadastro de Clientes-->
<div c-container= "{{ url_for('cliente.form_cliente') }}" ></div>
<!--Lista de Clientes-->
<h2 >Lista de Clientes</h2>
<div c-container="{{ url_for('cliente.lista_clientes') }}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

<script src="{{ url_for('static', filename='js/cru.js') }}"></script>

</body>
</html>